/*#region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .album-review-desktop {
      width:100%;
      max-width:100%;
      height:auto;
      min-height:100vh;
      display:none;
      z-index:10;
      position: absolute;
      left:0;
      top:0;
  }


  /*#region left section*/
  #left-section {
      flex:3;
      width:100%;
      min-height:100%;
      background-color: blue;
      text-align:center;
      padding-top:3vh;
  }

  #left-section h1 {
    font-size: 35px;
}

  #left-section img {
      height:20vw;
      width:20vw;
      padding-top:3vh;
  }

  #left-section h2 {
    padding-top:3vh;
    font-size: 25px;
}
  #left-section h3 {
    padding-top:2vh;
    font-size: 20px;
}

#tracklist-section {
    margin-top:1vh;
    margin-left:6vh;
    height:auto;
    width:25vw;
    text-align: center;
    font-size: 18px;
    padding-bottom:10px;
}

#tracklist-section ol {
    display: inline-block; /*this along with the above text-align centers the list*/
}
/*#endregion*/

/*#region right-section*/
  #right-section {
      flex:7;
      width:100%;
      min-height:100%;
      background-color: yellow;
      text-align: center;
      padding-top:3vh;
  }
  #exit-cross {
      position: absolute;
      cursor: pointer;
      height:40px;
      width:40px;
      top:10px;
      right:20px;
      background-color: black;
  }
  #lines {
      position:relative;
      height:100%;
      width:100%;
  }
  #top-line {
      position: absolute;
      background-color:white;
      top:17px;
      left:5px;
      width:30px;
      height:5px;
      z-index: 10;
      transform: rotate(45deg)
  }
  #bottom-line {
      position: absolute;
      background-color:white;
      top:17px;
      left:5px;
      width:30px;
      height:5px;
      z-index: 10;
      transform: rotate(-45deg)
  }
  #right-section h1 {
      font-size:35px;
  }
  #review-section {
      width:80%;
      min-height: 50vh;
      height:auto;
      padding:20px;
      margin-top:2vh;
      margin-left: 7vw;
      background-color: blue;
      text-align: left;
  }
  #right-section a {
      display:inline-block;
      line-height: 90px;
      font-size: 25px;
  }

  #image-section-desktop {
      width:80%;
      min-width: 20vh;
      height:25vh;
      margin-left: 7vw;
      background-color: blue;
      display: grid;
      grid-template-columns:20% 20% 20% 20%;
      grid-row:100%;
      grid-column-gap: 5%;
      padding-left:3vw;
  }
  #image-section-desktop img {
      width:100%;
      height:100%;
  }
/*#endregion*/

  