.album-review-mobile {
 display:none;
}
@media screen and (max-width: 600px) {
.album-review-mobile {
  width: 100%;
  min-width: 100%;
  height: auto;
  text-align: center;
  z-index:10;
  position: absolute;
  left:0;
  top:0;
  background-color: yellow;
}
#exit-cross {
  position: absolute;
  cursor: pointer;
  height:40px;
  width:40px;
  top:10px;
  right:20px;
  background-color: black;
}
#lines {
  position:relative;
  height:100%;
  width:100%;
}
#top-line {
  position: absolute;
  background-color:white;
  top:17px;
  left:5px;
  width:30px;
  height:5px;
  z-index: 10;
  transform: rotate(45deg)
}
#bottom-line {
  position: absolute;
  background-color:white;
  top:17px;
  left:5px;
  width:30px;
  height:5px;
  z-index: 10;
  transform: rotate(-45deg)
}

.album-review-mobile h1 {
  text-align: center;
  margin-top: 2vh;
  font-size: 26px;
}
.album-review-mobile h2 {
  margin-top: 2vh;
  font-size: 22px;
}
.album-review-mobile h3 {
  margin-top: 2vh;
  font-size: 20px;
}
.album-review-mobile img {
  height: 70vw;
  width: 70vw;
  margin-left: 0vw;
  margin-top: 3vh;
}
#tracklist-section-mobile ol {
  text-align: center;
  margin-top: 1vh;
  height: auto;
  width: 60vw;
  font-size: 18px;
  display:inline-block;
}
#review-section-mobile {
  width: 80%;
  min-height: 50vh;
  height: auto;
  margin-top: 2vh;
  margin-left: 10vw;
  background-color: blue;
}
.album-review-mobile a {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
}
#image-section-mobile {
  width: 100%;
  min-width: 100%;
  min-height: 200px;
  height: 200px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
  grid-template-rows: 100%;
  background-color: brown;
}
#image-section-mobile img {
  width: 100%;
  padding-left: 10%;
  height: 90%;
}

#mobile-review-pic-1 {
  grid-row: 1;
  grid-column: 1;
}
#mobile-review-pic-2 {
  grid-row: 1;
  grid-column: 2;
}
}