/*#region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*#endregion*/
@media screen and (max-width: 600px) {
    #entire-page-container {
        position:relative;
        width:100%;
        height:100%;
    }
    #normal-album-page {
        top:0;
        left:0;
        position:absolute;
        width:100%;
        height:100%;
    }
    /*#region title area*/
    #title-section {
        height:20vh;
        width:100%;
        max-width: 100%;
        background-color: green;
    }
    /*#endregion*/
    /*#region album-section*/
    #album-section {
        margin-left:0;
        padding-top:3vh;
        width:100%;
        max-width: 100%;
        height:850vh;
        background-color: cadetblue;
    }

    /*#region album-grid*/
    #album-grid {
        display:grid;
        grid-auto-rows: 35vw;
        grid-auto-columns: 35vw;
        grid-column-gap: 2vw;
        grid-row-gap:2vw;
        margin-left:3vw;
      }
    /*#endregion*/
    /*#region the albums*/
    #album-1 {
        grid-row:1;
        grid-column:1;
    }
    #album-2 {
        grid-row:1;
        grid-column:2;
    }
    #album-3 {
        grid-row:2;
        grid-column:1;
    }
    #album-4 {
        grid-row:2;
        grid-column:2;
    }
    #album-5 {
        grid-row:3;
        grid-column:1;
    }
    #album-6 {
        grid-row:3;
        grid-column:2;
    }
    #album-7 {
        grid-row:4;
        grid-column:1;
    }
    #album-8 {
        grid-row:4;
        grid-column:2;
    }
    #album-9 {
        grid-row:5;
        grid-column:1;
    }
    #album-10 {
        grid-row:5;
        grid-column:2;
    }
    #album-11 {
        grid-row:6;
        grid-column:1;
    }
    #album-12 {
        grid-row:6;
        grid-column:2;
    }
    #album-13 {
        grid-row:7;
        grid-column:1;
    }
    #album-14 {
        grid-row:7;
        grid-column:2;
    }
    #album-15 {
        grid-row:8;
        grid-column:1;
    }
    #album-16 {
        grid-row:8;
        grid-column:2;
    }
    #album-17 {
        grid-row:9;
        grid-column:1;
    }
    #album-18 {
        grid-row:9;
        grid-column:2;
    }
    #album-19 {
        grid-row:10;
        grid-column:1;
    }
    #album-20 {
        grid-row:10;
        grid-column:2;
    }
    #album-21 {
        grid-row:11;
        grid-column:1;
    }
    #album-22 {
        grid-row:11;
        grid-column:2;
    }
    #album-23 {
        grid-row:12;
        grid-column:1;
    }
    #album-24 {
        grid-row:12;
        grid-column:2;
    }
    #album-25 {
        grid-row:13;
        grid-column:1;
    }
    #album-26 {
        grid-row:13;
        grid-column:2;
    }
    #album-27 {
        grid-row:14;
        grid-column:1;
    }
    #album-28 {
        grid-row:14;
        grid-column:2;
    }
    #album-29 {
        grid-row:15;
        grid-column:1;
    }
    #album-30 {
        grid-row:15;
        grid-column:2;
    }
    #album-31 {
        grid-row:16;
        grid-column:1;
    }
    #album-32 {
        grid-row:16;
        grid-column:2;
    }
    #album-33 {
        grid-row:17;
        grid-column:1;
    }
    #album-34 {
        grid-row:17;
        grid-column:2;
    }
    #album-35 {
        grid-row:18;
        grid-column:1;
    }
    #album-36 {
        grid-row:18;
        grid-column:2;
    }
    #album-37 {
        grid-row:19;
        grid-column:1;
    }
    #album-38 {
        grid-row:19;
        grid-column:2;
    }
    #album-39 {
        grid-row:20;
        grid-column:1;
    }
    #album-40 {
        grid-row:20;
        grid-column:2;
    }
    #album-41 {
        grid-row:21;
        grid-column:1;
    }
    #album-42 {
        grid-row:21;
        grid-column:2;
    }
    #album-43 {
        grid-row:22;
        grid-column:1;
    }
    #album-44 {
        grid-row:22;
        grid-column:2;
    }
    #album-45 {
        grid-row:23;
        grid-column:4;
    }
    #album-46 {
        grid-row:23;
        grid-column:2;
    }
    #album-47 {
        grid-row:24;
        grid-column:1;
    }
    #album-48 {
        grid-row:24;
        grid-column:2;
    }
    #album-49 {
        grid-row:25;
        grid-column:1;
    }
    #album-50 {
        grid-row:25;
        grid-column:2;
    }
    /*#endregion*/
    /*#region album-section*/
#album-section {
    margin-left:0;
    padding-top:3vh;
    width:100%;
    max-width: 100%;
    height:850vh;
    background-color: cadetblue;
  }
  
  /*#region album-grid*/
  #album-grid {
    display:grid;
    grid-auto-rows: 40vw;
    grid-auto-columns: 40vw;
    grid-column-gap: 4vw;
    grid-row-gap:4vw;
    margin-left:6vw;
  }
  /*#endregion*/
  /*#region the albums*/
  #album-1 {
    grid-row:1;
    grid-column:1;
  }
  
  #album-2 {
    grid-row:1;
    grid-column:2;
  }
  #album-3 {
    grid-row:2;
    grid-column:1;
  }
  #album-4 {
    grid-row:2;
    grid-column:2;
  }
  #album-5 {
    grid-row:3;
    grid-column:1;
  }
  #album-6 {
    grid-row:3;
    grid-column:2;
  }
  #album-7 {
    grid-row:4;
    grid-column:1;
  }
  #album-8 {
    grid-row:4;
    grid-column:2;
  }
  #album-9 {
    grid-row:5;
    grid-column:1;
  }
  #album-10 {
    grid-row:5;
    grid-column:2;
  }
  #album-11 {
    grid-row:6;
    grid-column:1;
  }
  #album-12 {
    grid-row:6;
    grid-column:2;
  }
  #album-13 {
    grid-row:7;
    grid-column:1;
  }
  #album-14 {
    grid-row:7;
    grid-column:2;
  }
  #album-15 {
    grid-row:8;
    grid-column:1;
  }
  #album-16 {
    grid-row:8;
    grid-column:2;
  }
  #album-17 {
    grid-row:9;
    grid-column:1;
  }
  #album-18 {
    grid-row:9;
    grid-column:2;
  }
  #album-19 {
    grid-row:10;
    grid-column:1;
  }
  #album-20 {
    grid-row:10;
    grid-column:2;
  }
  #album-21 {
    grid-row:11;
    grid-column:1;
  }
  #album-22 {
    grid-row:11;
    grid-column:2;
  }
  #album-23 {
    grid-row:12;
    grid-column:1;
  }
  #album-24 {
    grid-row:12;
    grid-column:2;
  }
  #album-25 {
    grid-row:13;
    grid-column:1;
  }
  #album-26 {
    grid-row:13;
    grid-column:2;
  }
  #album-27 {
    grid-row:14;
    grid-column:1;
  }
  #album-28 {
    grid-row:14;
    grid-column:2;
  }
  #album-29 {
    grid-row:15;
    grid-column:1;
  }
  #album-30 {
    grid-row:15;
    grid-column:2;
  }
  #album-31 {
    grid-row:16;
    grid-column:1;
  }
  #album-32 {
    grid-row:16;
    grid-column:2;
  }
  #album-33 {
    grid-row:17;
    grid-column:1;
  }
  #album-34 {
    grid-row:17;
    grid-column:2;
  }
  #album-35 {
    grid-row:18;
    grid-column:1;
  }
  #album-36 {
    grid-row:18;
    grid-column:2;
  }
  #album-37 {
    grid-row:19;
    grid-column:1;
  }
  #album-38 {
    grid-row:19;
    grid-column:2;
  }
  #album-39 {
    grid-row:20;
    grid-column:1;
  }
  #album-40 {
    grid-row:20;
    grid-column:2;
  }
  #album-41 {
    grid-row:21;
    grid-column:1;
  }
  #album-42 {
    grid-row:21;
    grid-column:2;
  }
  #album-43 {
    grid-row:22;
    grid-column:1;
  }
  #album-44 {
    grid-row:22;
    grid-column:2;
  }
  #album-45 {
    grid-row:23;
    grid-column:1;
  }
  #album-46 {
    grid-row:23;
    grid-column:2;
  }
  #album-47 {
    grid-row:24;
    grid-column:1;
  }
  #album-48 {
    grid-row:24;
    grid-column:2;
  }
  #album-49 {
    grid-row:25;
    grid-column:1;
  }
  #album-50 {
    grid-row:25;
    grid-column:2;
  }
  /*#endregion*/
  /*#endregion*/
  
  /*#region album, album text, and image classes*/
  .album{
    height:100%;
    width:100%;
    position:relative;
    cursor: pointer;
  }
  .album-text {
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    background-color: black;
    color:white;
    text-align:center;
  }
  .album-image {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
  }
  .album-image:hover {
    opacity:0;
    transition: 0.4s;
  }
  .album-image img {
    width:100%;
    height:100%;
  }
  .album-text h1 {
    font-size: 15px;
    padding-top:0;
  }
  
  .album-text p {
    padding-top:0;
  }
  /*#endregion*/
  
}